* {
  margin: 0;
  padding: 0;
}
.container {
  width: 825px;
  margin: 50px auto;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.article {
  border: 5px solid black;
}

.article-headline {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.article-headline::before {
  position: absolute;
  content: "SALE";
  top: -20px;
  left: -25px;
  font-size: 14px;
  color: #fff;
  background-color: red;
  padding: 5px 15px;
  letter-spacing: 2px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: grey;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description {
  margin: 10px 0;
}

.more-info:link,
.more-info:visited {
  color: black;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}

.color:last-child {
  margin-right: 0;
}

.black {
  background-color: black;
}
.blue {
  background-color: rgb(74, 74, 233);
}
.red {
  background-color: rgb(212, 21, 21);
}
.yellow {
  background-color: rgb(224, 196, 68);
}
.green {
  background-color: rgb(89, 206, 79);
}
.brown {
  background-color: rgb(214, 80, 80);
}
.details-headline {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}

.details-list {
  margin-left: 20px;
}

.details-list li {
  list-style: square;
  font-size: 18px;
  margin-bottom: 10px;
}

.cart {
  text-transform: uppercase;
  font-size: 22px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.cart:hover {
  background-color: white;
  color: black;
}
